.validEntry {
  border: 1px solid green;
}

.invalidEntry {
  border: 1px solid red;
}

.untouched {
  border: 1px solid darkslategrey;
}

.verificationSuccess {
  border: 1px solid green;
  background-color: #a9ffb6;
  color: black;
}

.verificationFail {
  border: 1px solid red;
  background-color: #ff8285;
  color: black;
}

.column{
  float: left;
  width: 50%;
  padding: 10px;
}
.row:after{
  content: "";
  display: table;
  clear: both;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  width: 400px; /* Full width (cover the whole page) */
  height: 100px; /* Full height (cover the whole page) */
  top: 5%;
  right: 5%;
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  display: "block";
  opacity: 0.7;
}



