.validEntry {
  border: 1px solid green;
}

.invalidEntry {
  border: 1px solid red;
  background-color: rgba(255, 0, 16, 0.09);
}

.untouched {
  border: 1px solid darkslategrey;
}

.verificationSuccess {
  border: 1px solid green;
  background-color: #a9ffb6;
  color: black;
}

.verificationFail {
  border: 1px solid red;
  background-color: #ff8285;
  color: black;
}
