<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">new recipe</button>
  </div>
  <hr>
</div>
<div class="row">
  <div class="col-xs-12">
    <a href="#" class="list-group-item clearfix" *ngFor="let a of recipes">
      <div class="pull-left">
        <h4 class="list-group-item-heading">{{ a.name }}</h4>
        <p class="list-group-item-text">{{ a.description }}</p>
      </div>
      <span class="pull-right">
        <img [src]="a.imagePath" alt="{{a.name}}" class="img-responsive" style="max-height: 50px;">
      </span>
    </a>
    <app-recipe-item></app-recipe-item>
  </div>
</div>

